.container {
  grid-area: game;
  background-image: url("");
  background-size: 100%;
  border-left: #c3de9a solid 0.5rem;
  border-right: #c3de9a solid 0.5rem;
  border-bottom: #c3de9a solid 0.5rem;

}
