.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding-top: 10rem;
}

.logincontainer input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.2rem solid #6b3710;
  border-radius: 10px;
  margin: 0.5rem;
}

.formElement {
  margin: 0.5rem;
}

.formLabel {
  margin: 0.5rem;
}

.logincontainer button {
  padding: 0.3rem;
  margin: 0.4rem;
  font-size: 1rem;
  border: 0.2rem solid #6b3710;
  border-radius: 10px;
}
