nav {
  grid-area: nav;
  background-color: #86a749;
  position: fixed;
  bottom: 0;
  width: 412px;
  color: white;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  border-left: #c3de9a solid 0.5rem;
  border-right: #c3de9a solid 0.5rem;
  border-top: #c3de9a solid 0.5rem;
}

.container {
  display: flex;
}

.navbut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: none;
  background-color: #86a749;
}

.container img {
  max-width: 5rem;
  max-height: 5rem;
}
