.taskcard {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  background-color: white;
  color: black;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.taskcardright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskcard button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: white;
  border: none;
  margin-left: 0.5rem;
}

.taskcardright img {
  max-width: 1.5rem;
  justify-content: center;
  align-items: center;
}